<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TK_Cons_F_v0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TK_Cons_F_v0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AmqDatasEntities" connectionString="metadata=res://*/DAO.AMQDatas.csdl|res://*/DAO.AMQDatas.ssdl|res://*/DAO.AMQDatas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Lenovo-PC;initial catalog=AmqDatas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <TK_Cons_F_v0.Properties.Settings>
      <setting name="activeVisibleDataC" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="activeClsSetting" serializeAs="String">
        <value>1</value>
      </setting>
    </TK_Cons_F_v0.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TK_Cons_F_v0.Properties.Settings>
      <setting name="activeBrokerURI" serializeAs="String">
        <value />
      </setting>
      <setting name="activeQueName" serializeAs="String">
        <value />
      </setting>
    </TK_Cons_F_v0.Properties.Settings>
  </userSettings>
</configuration>